<head>

    <title>Administrar Estudiantes</title>

</head>

<div class="content content-page">
    <div class="container-fluid">
        {{!-- Titulo pagina --}}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Administración de Estudiantes</h4>
                </div>
            </div>
        </div>
        {{!-- Fin Titulo pagina --}}

        {{!-- Formulario --}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{> message }}

                        {{!-- Tabla Listar Estudiantes --}}
                        <div class="table-responsive">
                            <table id="Reporte_Admin_Estudiantes" class="table table-striped dt-responsive nowrap"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            <center>ID</center>
                                        </th>
                                        <th>
                                            <center>EDITAR</center>
                                        </th>
                                        <th>
                                            <center>TIPO DOCUMENTO</center>
                                        </th>
                                        <th>
                                            <center>NO. DOCUMENTO</center>
                                        </th>
                                        <th>
                                            <center>NOMBRES</center>
                                        </th>
                                        <th>
                                            <center>APELLIDOS</center>
                                        </th>
                                        <th>
                                            <center>TELEFONO</center>
                                        </th>
                                        <th>
                                            <center>CORREO ELECTRONICO</center>
                                        </th>
                                        <th>
                                            <center>CURSO INTERES</center>
                                        </th>
                                        <th>
                                            <center>GESTOR ASIGNADO</center>
                                        </th>
                                        <th>
                                            <center>OBSERVACIONES</center>
                                        </th>
                                        <th>
                                            <center>ESTADO</center>
                                        </th>
                                        <th>
                                            <center>FECHA REGISTRO</center>
                                        </th>
                                        <th>
                                            <center>FECHA MODIFICACIÓN</center>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each users}}
                                    <tr>
                                        <td>{{PKFOR_NCODIGO}}</td>
                                        <td>
                                            {{!-- Modal Crud Actualizar Estudiantes--}}
                                            <center><a><button type="button"
                                                        class="btn btn-secondary waves-effect waves-light"
                                                        data-toggle="modal"
                                                        data-target="#crud_AdminUsuarios_actualizar_{{PKFOR_NCODIGO}}"><i
                                                            class="fas fa-edit"></i></button></a></center>
                                            {{!-- Modal Crud Actualizar Estudiantes--}}
                                            <div class="modal fade" id="crud_AdminUsuarios_actualizar_{{PKFOR_NCODIGO}}"
                                                tabindex="-1" role="dialog"
                                                aria-labelledby="crud_AdminUsuarios_actualizarTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-scrollable"
                                                    role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="crud_AdminUsuarios_actualizarTitle"><i
                                                                    class="fas fa-edit"></i> Actualizar Estudiante</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/adminestudiantes/{{PKFOR_NCODIGO}}"
                                                                method="POST">
                                                                <div class="form-row">

                                                                    <div
                                                                        class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12 d-none menuAdministrador menuGestor">
                                                                        <label for="txtobservaciones"
                                                                            class="col-form-label">Observaciones</label>
                                                                        <input type="text" name="observaciones"
                                                                            id="txtobservaciones" class="form-control"
                                                                            data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            value="{{FOR_COBSERVACIONES}}"
                                                                            autocomplete="off">
                                                                    </div>
                                                                    <div
                                                                        class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6 d-none menuAdministrador">
                                                                        <div class="input-group-prepend">
                                                                            <label for="txtgestor"
                                                                                class="col-form-label">Gestores
                                                                                Disponibles</label>
                                                                        </div>
                                                                        <select class="custom-select form-control"
                                                                            name="gestor"
                                                                            id="txtgestor_{{PKFOR_NCODIGO}}" 
                                                                            onclick="cargarGesrotes({{PKFOR_NCODIGO}})"
                                                                            required>
                                                                            <option value="">Elige una opción</option>
                                                                        </select>
                                                                    </div>
                                                                    <div
                                                                        class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6 d-none menuAdministrador menuGestor">
                                                                        <label for="txtestado_estudiante"
                                                                            class="col-form-label">Estado</label>
                                                                        <input type="text" name="estado_estudiante"
                                                                            id="txtestado_estudiante"
                                                                            list="crud_Estado_Estudiante"
                                                                            class="form-control" data-toggle="tooltip"
                                                                            data-placement="bottom"
                                                                            value="{{FOR_CESTADO}}" autocomplete="off">
                                                                    </div>
                                                                </div>
                                                                <center>
                                                                    <button type="submit" name="action"
                                                                        class="btn btn-secondary btn-rounded waves-effect waves-light">
                                                                        <span class="btn-label"><i
                                                                                class="fas fa-database"></i></span>
                                                                        Actualizar Estudiante
                                                                    </button>
                                                                </center>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{!-- Fin Modal Crud Actualizar Estudiantes--}}
                                        </td>
                                        <td>{{FOR_CTIPO_DOCUMENTO}}</td>
                                        <td>{{FOR_CNUMERO_DOCUMENTO}}</td>
                                        <td>{{FOR_CNOMBRES}}</td>
                                        <td>{{FOR_CAPELLIDOS}}</td>
                                        <td>{{FOR_CTELEFONO}}</td>
                                        <td>{{FOR_CCORREO_ELECTRONICO}}</td>
                                        <td>{{FOR_CCURSO_INTERES}}</td>
                                        <td>{{FOR_CGESTOR_ASIGNADO}}</td>
                                        <td>{{FOR_COBSERVACIONES}}</td>
                                        <td>{{FOR_CESTADO}}</td>
                                        <td>{{FOR_CFECHA_REGISTRO}}</td>
                                        <td>{{FOR_CFECHA_MODIFICACION}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{!-- Fin Tabla Listar Estudiantes --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/reporting/datatable_estudiantes.js"></script>
<script src="js/reporting/gestores_disponibles.js"></script>